*{
	margin: 0; padding: 0;
}
/*titulo*/
.titulo{
	background: black;
	width: 99,9%; height: 75px;
	padding: 2%;
	margin-bottom: 5%;
	display: flex;
	align-items: center;

}
h1{
	color: white;
}

/* header */

.header{
	font-size: 200%;
	width: 99%; height: auto;
	margin-left: 1%;
	margin-top: 5%;
	display: flex;
}

/*links de busqueda*/

.secciones{
	width: 15%;
	display: flex;
	flex-direction: column;
	margin-left: 4%;
	margin-right: 2%;
	border-left: solid black;
	padding-left: 2%;
}
.secciones a{
	text-decoration: none;
	color: black;
	padding-bottom: 50%;
	font-size: 75%;
}




/*footer*/

.footer{
	width: 100%;
	height: 250px;
	margin-top: 4%;
	background: black;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.footer div a{
	text-decoration: none;
	color: white;
	font-size: 20px;

}

